body{
    background-image: url("Jowhareh_galleries_5_poster_ac8b6c05-aa6d-44c3-ae67-f78f74ff2e05.jpeg");
    padding: 0; /*حاشیه*/
    margin: 0; /*فضای داخلی*/
    font-family: Arial, Helvetica, sans-serif;
    background-position: center;
    background-size: cover;
}

.navbar{
    display: flex; 
    background-color: rgb(0, 0, 0);
    padding: 0;
    margin: 0;
}

.navbar ul{
    display: flex;
    list-style-type: none; /* نقطه هارو ور میداره */
    margin: 0;
    padding: 0;
    justify-content: right;
}

.navbar li{
    font-size: 20px;
    padding: 0;
    margin: 0;
}

.navbar a{
    display: block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    background-color: rgb(11, 14, 86);
    text-decoration: none;
    margin: 5px;
    border: 2px solid white;
    border-radius: 5px;
}

.navbar a:hover{
    background-color: blueviolet;
    box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 1)
}

h1{
    text-align: center;
}

header{
    text-align: center;
    padding: 4%;
    font-size: 28px;
}

.portfolio-item{
    background-color: rgb(131, 154, 174);
    border: 1px solid gray;
    text-align: center;
    margin: 5%;
    padding: 5%;
}
h2{
    font-size: 28px;
    margin: 2%;
}
figcaption{
    font-size: 20px;
    margin: 2%;
}
.aval{
    width: 50%;
    height: auto;
}

.dovom{
    width: 50%;
    height: auto;
}

.sevom{
    width: 40%;
    height: auto;
}
